<h2> Welke Pokemon is dit?</h2>
<img class="randomPokemon" src={{pokemon.img}} *ngIf="pokemon">
<p>
    <label>Dit is
        <input [(ngModel)]="antwoord" placeholder="...">
    </label>
</p>
<button mat-button class="btn btn-primary button groen" (click)="openModal(template)">Check antwoord</button>
<button class="btn btn-primary button" (click)="kiesRandomPokemon()">Raad nog een Pokémon!</button>
<ng-template #template>
    <div class="modal-dialog-centered modal-dialog modal-xs" role="dialog">
        <div class="modal-body">
            <h5 class="modal-title">{{response}}</h5>
        </div>
    </div>
</ng-template>